<h1 style="color:red;width:500px;margin:0 50%;position:relative;left:-150px;">Click below to get required page</h1><br>
<form action= {% url 'wordcounthome' %}>
 <input type="submit" value="Take me to word counter" style="background-color:green;color:yellow;width:160px;margin:0 50%;position:relative;left:-50px;">
<!--<button type="button" style="background-color:green;color:yellow;width:100px;margin:0 50%;position:relative;left:-50px;"><h4>Word Counter</h4></button>-->
</form>
<form action= {% url 'users' %}>
 <input type="submit" value="Take me to users" style="background-color:green;color:yellow;width:160px;margin:0 50%;position:relative;left:-50px;">
<!--<button type="button" style="background-color:green;color:yellow;width:100px;margin:0 50%;position:relative;left:-50px;"><h4>Word Counter</h4></button>-->
</form>
<form action= {% url 'form' %}>
 <input type="submit" value="Take me to form" style="background-color:green;color:yellow;width:160px;margin:0 50%;position:relative;left:-50px;">
<!--<button type="button" style="background-color:green;color:yellow;width:100px;margin:0 50%;position:relative;left:-50px;"><h4>Word Counter</h4></button>-->
</form>
<form action= {% url 'formmodel' %}>
 <input type="submit" value="Take me to formmodel" style="background-color:green;color:yellow;width:160px;margin:0 50%;position:relative;left:-50px;">
<!--<button type="button" style="background-color:green;color:yellow;width:100px;margin:0 50%;position:relative;left:-50px;"><h4>Word Counter</h4></button>-->
</form>